$priceColor: #ff6b00;
$numOfPages: #949a9d;

* {
	box-sizing: border-box;
	font-family: Montserrat, sans-serif;
}
.menu,
.nav,
.shop-content,
.book-price,
.list-item-cart,
.pagination {
	display: flex;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

.menu {
	justify-content: space-between;
	background-color: white;
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100vw;

	.logo {
		padding: 10px 75px;
	}

	.nav {
		padding-right: 75px;
	}

	.cart-img {
		width: 33px;
		position: relative;
		left: 5px;
	}

	.cart-items-num {
		position: absolute;
		top: 26px;
		color: white;
		right: 29px;
		background: #fc7c41;
		border-radius: 10px;
		padding: 3px;
		font-size: 11px;
		min-width: 17px;
		min-height: 17px;
		text-align: center;
	}

	.nav-item {
		font-family: Montserrat, sans-serif;
		text-transform: uppercase;
		font-size: 15px;
		padding: 4px 21px;

		&:hover,
		.active {
			text-decoration: underline;
		}

		a {
			text-decoration: none;
			color: black;
		}
	}

	.nav-item-cart {
		flex-direction: column;
		padding: 10px 30px;
	}
}

.shop-content {
	margin: 85px 30px;
	flex-wrap: wrap;
}

.product-photo {
	height: 370px;
}

.book {
	padding: 10px 10px 23px;
}

.book-title {
	width: 250px;
	line-height: 1.4;
	letter-spacing: 0.3px;
	height: 58px;
}

.price-value {
	font-weight: bolder;
	color: $priceColor;
}

.num-of-pages {
	color: #949a9d;
	font-size: 13px;
}

.cart-btn {
	font-size: 14px;
	letter-spacing: .5px;
	line-height: 24px;
	border: none;
	color: #fff;
	background: black;
	cursor: pointer;
	font-family: Madefor, Helvetica Neue, Helvetica, Arial;
	font-weight: 400px;
	font-weight: bold;
	padding: 0 18px;
	border-radius: 10px;
	margin: -3px 29px;
	transform: opacity 0.3s;
	transition: opacity .2s linear;
	outline: none;

	&:hover {
		opacity: 0.7;
	}
}

.pagination {
	justify-content: center;

	.page-item {
		.page-link {
			line-height: 1.25;
			font-size: 1rem;
			font-weight: 400;
			border: 1px solid #dee2e6;
			color: black;
			padding: .5rem .75rem;
			outline: none;
			transition: background-color .2s linear;

			&:hover {
				color: black;
				text-decoration: none;
				background-color: rgb(204, 208, 212);
				border-color: #dee2e6;
			}
		}

		&.active .page-link {
			background-color: black;
			color: white;

			outline: none;
			border-color: black;
		}
	}
}
