$priceColor: #ff6b00;
$numOfPages: #949a9d;
$borderColor: #dee1e6;
$proceedBtnColor: #fc7c41;
$totalColor: $numOfPages;
$contentColor: #f1f3f7;

* {
	box-sizing: border-box;
	font-family: Montserrat, sans-serif;
}

.app {
	overflow: hidden;
	user-select: none;
}

.menu,
.nav,
.shop-content,
.book-price,
.list-item-cart,
.pagination,
.cart-item {
	display: flex;
}

.product-photo,
.book-title,
.num-of-pages {
	cursor: auto;
}

.shop-content,
.cart-items {
	margin-top: 90px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

.menu {
	justify-content: space-between;
	background-color: white;
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100vw;

	.logo {
		padding: 10px 19px;
	}

	.nav {
		padding-right: 75px;
	}

	.cart-img {
		width: 33px;
		position: relative;
		left: 5px;
	}

	.cart-items-num {
		position: absolute;
		top: 26px;
		color: white;
		right: 29px;
		background: #fc7c41;
		border-radius: 10px;
		padding: 3px;
		font-size: 11px;
		min-width: 17px;
		min-height: 17px;
		text-align: center;
	}

	.nav-item {
		font-family: Montserrat, sans-serif;
		text-transform: uppercase;
		font-size: 15px;
		padding: 4px 21px;

		&:hover,
		.active {
			text-decoration: underline;
		}

		a {
			text-decoration: none;
			color: black;
		}
	}

	.nav-item-cart {
		flex-direction: column;
		padding: 10px 30px;
	}
}

.cart-items {
	padding-left: 0;
}

.cart-item {
	padding: 0 0 30px 20px;
	border-bottom: 1px solid #dee1e6;

	&:not(:first-of-type) {
		padding-top: 20px;
	}

	img {
		max-width: 90px;
		padding-right: 15px;
	}
}

.total {
	font-size: 13px;
	line-height: 1.4;
	color: $totalColor;

	.price-details span {
		color: $priceColor;
		font-size: 20px;
		font-weight: 700;
		margin-left: 4px;
	}
}

.price-details {
	text-align: center;
}

.shop-content {
	flex-wrap: wrap;
	margin: 85px auto;
}

.product-photo {
	height: 370px;
}

.book {
	padding: 10px 10px 23px;
}

.book-title {
	width: 250px;
	line-height: 1.4;
	letter-spacing: 0.3px;
}

.price-value {
	font-weight: bolder;
	color: $priceColor;
}

.num-of-pages {
	color: #949a9d;
	font-size: 13px;
}

.cart-btn {
	font-size: 14px;
	letter-spacing: .5px;
	line-height: 24px;
	border: none;
	color: #fff;
	background: black;
	cursor: pointer;
	font-family: Madefor, Helvetica Neue, Helvetica, Arial;
	font-weight: 400px;
	font-weight: bold;
	padding: 0 18px;
	border-radius: 10px;
	margin: -3px 29px;
	transform: opacity 0.3s;
	transition: opacity .2s linear;
	outline: none;

	&:hover {
		opacity: 0.7;
	}

	&.proceed {
		border-radius: 3px;
		background-color: $proceedBtnColor;
		font-size: 14px;
		text-transform: uppercase;
		height: 36px;
		padding: 9px 6px;
		font-weight: initial;
		padding: 3px 40px;
		width: 90%;
		margin: 20px;
	}
}

.pagination {
	justify-content: center;

	.page-item {
		.page-link {
			line-height: 1.25;
			font-size: 1rem;
			font-weight: 400;
			border: 1px solid #dee2e6;
			color: black;
			padding: .5rem .75rem;
			outline: none;
			transition: background-color .2s linear;
			margin-bottom: 20px;

			&:hover {
				color: black;
				text-decoration: none;
				background-color: rgb(204, 208, 212);
				border-color: #dee2e6;
			}
		}

		&.active .page-link {
			background-color: black;
			color: white;

			outline: none;
			border-color: black;
		}
	}
}

.ReactModal__Content {
	margin-top: 50px;
}

.close-modal-content {
	display: flex;
	justify-content: flex-end;
}

.close-modal {
	background-color: white;
	border: none;
	outline: none;
	font-weight: 17px;
	font-size: 22px;

	&:hover {
		opacity: 0.75;
	}
}

.label-form {
	display: block;
	margin: 10px 0 5px;
}

.input-form {
	padding: 5px;
}

.form-title {
	text-transform: uppercase;
}

.form-cart-btn {
	margin: 21px auto auto 0;
	padding: 5px 31px;
}

@media screen and (min-width: 768px) {
	.menu .logo {
		padding: 10px 75px;
	}

	.shop-content {
		margin: 90px 30px;
		flex-wrap: wrap;
	}

	.book-title {
		height: 58px;
	}
}

@media screen and (min-width: 1015px) {
	.content,
	.total {
		background-color: $contentColor;
	}

	.cart-items {
		top: 125px;
		padding-top: 17px;
	}

	.cart-content {
		width: 750px;
		margin: 0 auto;
		position: relative;
		top: 38px;
	}

	.cart {
		background-color: white;
	}

	.total {
		padding-bottom: 60px;
	}

	.cart-item:last-of-type {
		border-bottom: 2px solid black;
	}

	.total .price-details {
		text-align: right;
		color: black;

		span {
			margin-left: 16px;
		}
	}

	.cart-btn.proceed {
		width: auto;
		padding: 3px 53px;
	}

	.btn-container {
		display: flex;
		justify-content: flex-end;

		.cart-btn.proceed {
			margin: 20px 0;
		}
	}

	.empty-cart {
		margin-top: 150px;
		text-align: center;
		font-size: 22px;
		font-weight: bold;
	}
}
